<template>
  <v-form v-model="valid" ref="form" lazy-validation>
    Asignar Cambios:
    <v-flex>
      <v-text-field
        label="id"
        v-model="id"
      ></v-text-field>
    </v-flex> 
    <v-btn color="primary"
      @click="post(id)"
    >
      Enviar
    </v-btn>
  </v-form>
</template>
<script>
import EndpointCamion from '@/services/EndpointCamion'


export default {
  data () {
    return {
      id:""
    }
  },
  methods:{
    async post (este) {
      console.log(este)
      let body = {
        id: este
      }
      this.upd = (await EndpointCamion.post(body)).data
    }
  }
}
</script>
